.wrapper {
  border: 2px solid black;

  overflow: hidden;
}
img {
  width: 300px;
  transition: all 1s linear;
}

img:hover {
  /* transform: rotate(30deg) scale(2) translate(200px, 0px); */
  animation: adventure 5s infinite alternate;
}

@keyframes adventure {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.5) rotate(90deg);
  }
  75% {
    filter: sepia(100%);
    border-radius: 50%;
  }
  100% {
    transform: translate(400px);
  }
}
